# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
graph-tool=2.29=py37h3f2f939_0
ipywidgets=7.5.1=py_0
numpy=1.18.1=py37h94c655d_0
pandas=1.0.0=py37h0573a6f_0
requests=2.22.0=py37_1
scipy=1.3.2=py37he2b7bc3_0
tqdm=4.42.1=py_0
ujson=1.35=py37h14c3975_0
wikitextparser=0.29.1=pypi_0
